.content_size_all {
  box-sizing: border-box;
  width: 1100px;
  min-height: 120px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 92px 50px 96px;
}

.main_header_menu {
  grid-column: 1;
}

.main_menu-list {
  display: flex;
  gap: 31px;
}

.button_home-li {
  list-style-type: none;
}

.button_lotsabout-li {
  list-style-type: circle;
}

.button_home {
  text-decoration: none;
}

.main_logo_button {
  grid-column: 2;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.contact_us {
  grid-column: 3;
  justify-self: end;
  width: 240px;
}

.contact_us-item {
  list-style-type: none;
}

.cover {
  position: relative;
  background-image:
    linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(../images/cover.jpg);
}

.huge_logo {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 380px;
  padding: 165px 50px 106px;
  box-sizing: content-box;
}

.huge_logo_part1, .huge_logo_part2, .huge_logo_part3 {
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.huge_logo_part2 {
  align-self: center;
}

.huge_logo_part3 {
  align-self: flex-end;
  margin-left: autыo;
  margin-left: -72px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 50px 50px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.9em;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  background: none;
  cursor: pointer;
}

.bet-button-text {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  margin-top: 180px;
  padding: 0px 24px 0px;
}

.lots-title {
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots-cards {
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 25px;
  height: 596px;
  margin-top: 27px;
  margin-bottom: 30px;
}

.lots-card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots-card1 {
  grid-column: 1;
  background-image:
    linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}
.lots-card2 {
  grid-column: 2;
  background-image:
    linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}
.lots-card3 {
  grid-column: 3;
  background-image:
    linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card-title {
  padding: 48px 40px 0px;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-description {
  padding: 0px 40px 48px;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
}

.lots-button {
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 120px;
  margin-bottom: 180px;
  padding: 0px 24px 0px;
}

.about__logo {
  display: flex;
  margin-top: 35px;
  margin-left: 47px;
  grid-column: 1;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about_text-title {
  grid-column: 2;
  margin-bottom: 100px;
  padding-top: 133px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  grid-column: 2;
}

.about_text-description {
  font-size: 20px;
  line-height: 24px;
}

.about_text-description {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 180px;
  padding: 0px 50px;
}

.contact_us-footer {
  grid-column: 1;
  width: 265px;
}

.main_header_menu-footer {
  grid-column: 2;
  justify-self: center;
  text-align: center;
}

.buttons_footer-li {
  list-style-type: none;
}

.footer-social-links {
  display: flex;
  grid-column: 3;
  width: 240px;
  justify-content: space-between;
  justify-self: end;
}

.social-links-button {
  width: 48px;
  height: 48px;
}